page "/personificacion/{id:int}"
@inject PersonificacionServices personificacionservices
@page "/personificacions"
@using Edenmao.Core.DTOs
@using Edenmao.Core.DTOs.Personificacion
@using Edenmao.UI.Frontend.Services
@inject NavigationManager Navigation

<link href="~/css/app.css" rel="stylesheet" />
<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h3>Detalle del Empleado</h3>

    @if (personificacion == null)
    {
        <p><em>Cargando...</em></p>
    }
    else
    {
        <div class="employee-details">
            <p><strong>ID:</strong> @personificacion.Id</p>
            <p><strong>Nombre:</strong> @personificacion.Nombre</p>
            <p><strong>Apellido:</strong> @personificacion.Descripcion</p>
            <p><strong>Percio:</strong> @personificacion.Precio</p>
            <p><strong>Email:</strong> @personificacion.FechaRegistro</p>
        </div>

        <div class="button-container">
            <button class="btn-back" @onclick="Volver">Regresar</button>
        </div>
    }
</div>

@code {
    [Parameter]
    public int id { get; set; }
    private PersonificacionDTO? personificacion;

    protected override async Task OnInitializedAsync()
    {
        personificacion = await personificacionservices.GetPersonificacionById(id);
    }

    private void Volver()
    {
        Navigation.NavigateTo("/personificacion");
    }
}
